<app-navbar />

<div class="container mt-3">
    <div class="card shadow p-4">

        <h4>Dashboard de Tarefas</h4>
        <hr />        

        <div class="row">
            <div class="col-md-9">
                <div [chart]="grafico"></div>
            </div>
            <div class="col-md-3">
                <table class="table table-sm" >
                    <thead>
                        <tr *ngFor="let item of dados">
                            <th>{{item.prioridade | uppercase}}</th>
                            <th>{{item.quantidade}}</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
</div>