<app-navbar />


<div class="container mt-3">
    <div class="card shadow p-4">


        <h4>Edição de Tarefas</h4>


        <hr />


        <app-alert-message [message]="msg"/>


        <form [formGroup]="form" (ngSubmit)="onSubmit()">


            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" formControlName="nome" class="form-control" id="nome" required>


                    <div *ngIf="form.get('nome')?.touched" class="text-danger">
                        <span *ngIf="form.get('nome')?.hasError('required')">
                            Por favor, informe o nome da tarefa.
                        </span>
                    </div>


                </div>
                <div class="col-md-3">
                    <label for="data" class="form-label">Data</label>
                    <input type="date" formControlName="data" class="form-control" id="data" required>


                    <div *ngIf="form.get('data')?.touched" class="text-danger">
                        <span *ngIf="form.get('data')?.hasError('required')">
                            Por favor, selecione a data da tarefa.
                        </span>
                    </div>


                </div>
                <div class="col-md-3">
                    <label for="prioridade" class="form-label">Prioridade</label>
                    <select class="form-select" formControlName="prioridade" id="prioridade" required>
                        <option value="">Escolha uma opção</option>
                        <option value="Baixa">Baixa</option>
                        <option value="Média">Média</option>
                        <option value="Alta">Alta</option>
                    </select>


                    <div *ngIf="form.get('prioridade')?.touched" class="text-danger">
                        <span *ngIf="form.get('prioridade')?.hasError('required')">
                            Por favor, selecione a prioridade da tarefa.
                        </span>
                    </div>


                </div>
            </div>


            <div class="row mb-3">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
                        Salvar alterações
                    </button>                    
                </div>
            </div>
        </form>
    </div>
</div>



