<app-navbar />


<div class="container mt-3">
    <div class="card shadow p-4">


        <h4>Consulta de Tarefas</h4>


        <hr />


        <app-alert-message [message]="msg"/>


        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data</th>
                    <th>Prioridade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of tarefas">
                    <td>{{ t.nome | uppercase }}</td>
                    <td>{{ t.data | date : 'dd/MM/yyyy' }}</td>
                    <td>{{ t.prioridade }}</td>
                    <td>
                        <button class="btn btn-sm btn-primary me-2"
                            [routerLink]="['/admin/edicao-tarefas', t.id]">
                            Editar
                        </button>
                        <button class="btn btn-sm btn-danger me-2"
                            (click)="onDelete(t.id)">
                            Excluir
                        </button>
                    </td>
                </tr>                
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        Quantidade de tarefas: {{ tarefas.length }}
                    </td>
                </tr>
            </tfoot>
        </table>


    </div>
</div>



