<app-navbar />

<div class="container mt-3">
    <div class="card shadow p-4">

        <h4>Consulta de Tarefas</h4>

        <hr />

        <form>

            <div class="row mb-3">
                <div class="col-md-2">
                    <input type="date" class="form-control">
                </div>
                <div class="col-md-2">
                    <input type="date" class="form-control">
                </div>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-primary">Realizar Pesquisa</button>
                </div>
            </div>

        </form>

        <table class="table table-sm mt-3">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Prioridade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tarefa 1</td>
                    <td>2024-03-25</td>
                    <td>Descrição da tarefa 1</td>
                    <td>Alta</td>
                    <td>
                        <button class="btn btn-sm btn-warning me-2">Editar</button>
                        <button class="btn btn-sm btn-danger me-2">Excluir</button>
                    </td>
                </tr>
                <tr>
                    <td>Tarefa 2</td>
                    <td>2024-03-26</td>
                    <td>Descrição da tarefa 2</td>
                    <td>Média</td>
                    <td>
                        <button class="btn btn-sm btn-warning me-2">Editar</button>
                        <button class="btn btn-sm btn-danger me-2">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>